<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Story points:</strong>
  <%= @task.story_points %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>

<%= link_to 'Edit', edit_project_task_path(@project, @task) %>
  <H4>Comments</H4>
<div id="comments">
<%= render :partial => @task.comments %>
</div>
<%= simple_form_for [@task, Comment.new] do |f| %>
<p>

<%= f.input :body, :label => "New Comment", as: :text, input_html: { rows: "3" } %>
</p>
<p><%= f.submit "Add Comment", class: "btn btn-primary" %></p>
<% end %> 
</div>
</div>