
<div>
<h2>Edit task</h2>

<%= form_for(:task, :url => {:action => 'update', :id => @task.id}) do |f| %>
<table summary="putting a form in a table">
	<tr>
		<th>Title</th>
		<td><%= f.text_field(:title)%></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= f.text_area(:description, :size =>"40x5") %></td>
	</tr>
	<tr>
		<th>status</th>
		<td><%= f.text_field(:status) %></td>
	</tr>
	<tr>
		<th>Deadline</th>
		<td><%= f.text_field(:deadline) %></td>
	</tr>
	<tr>
		<th>priority</th>
		<td><%= f.text_field(:priority) %></td>
	</tr>
	
	
</table>

<div>
	<%= submit_tag("update task") %>
</div>

<%end%>

</div>