<p id="notice"><%= notice %></p>
<h1> Tasks</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to("Title", {:sort => 'title'}) %></th>
      <th><%= link_to("Description", {:sort => 'description'}) %></th>
      <th><%= link_to("Status", {:sort => 'status'}) %></th>
      <th><%= link_to("Priority", {:sort => 'priority'}) %></th>
      <th><%= link_to("Story points", {:sort => 'story_points'}) %></th>
      <th><%= link_to("Deadline", {:sort => 'deadline'}) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= task.story_points %></td>
        <td><%= task.deadline %></td>
        <td><%= link_to 'Show', project_sprint_tasks_path(@project, @sprint) %></td>
        <td><%= link_to 'Edit', edit_project_sprint_task_path(@project, @sprint, task) %></td>
        <td><%= link_to 'Destroy',  project_sprint_task_path(@project, @sprint, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Assign Task', {:controller => 'users', :action => 'index', :id => task.id, :sprint => @sprint.id, :project => @project.id} %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<br>


<%= link_to 'New Task', new_project_sprint_task_path %>
