
<div>
<h2>Task</h2>
<table summary="showing this one">
	
	<tr>
		<th>Title</th>
		<td><%= @task.title %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= @task.description %></td>
	</tr>
	<tr>
		<th>status</th>
		<td><%= @task.status %></td>
	</tr>
	<tr>
		<th>Deadline</th>
		<td><%= @task.deadline %></td>
	</tr>
	<tr>
		<th>priority</th>
		<td><%= @task.priority %></td>
	</tr>
	<tr>
		<th>Created at</th>
		<td><%= @task.created_at %></td>
	</tr>
	<tr>
		<th>Updated at</th>
		<td><%= @task.updated_at %></td>
	</tr>

</table>
</div>
