
<div>
<h2>Edit user</h2>

<%= form_for(:user, :url => {:action => 'update', :id => @user.id}) do |f| %>
<table summary="edit">
	<tr>
		<th>name</th>
		<td><%= f.text_field(:first_name)%></td>
	</tr>
	<tr>
		<th>last</th>
		<td><%= f.text_field(:last_name) %></td>
	</tr>
	<tr>
		<th>M/F</th>
		<td><%= f.text_field(:gender) %></td>
	</tr>
	
</table>

<div>
	<%= submit_tag("update user") %>
</div>

<%end%>

</div>