<p id="notice"><%= notice %></p>
<div class="row">
  <div class="small-10 large-8 columns">
<p>
  <strong>Number:</strong>
  <%= @sprint.number %>
</p>
</div>
</div>
<div class="row">
  <div class="small-10 large-8 columns">
<p>
  <strong>Deadline:</strong>
  <%= @sprint.deadline %>
</p>
</div>
</div>

<strong>Total Points:</strong>
<%= @sprint.total_points %>
</p>

<%= link_to 'Edit', edit_project_sprint_path %>
