<p id="notice"><%= notice %></p>

  <h3>Number:</h3>
  <h4><%= @sprint.number %></h4>

  <h3>Deadline:</h3>
  <h4><%= @sprint.deadline %></h4>


  <h3>Total Points:</h3>
  <h4><%= @sprint.total_points %></h4>

  <br>

  <h5><%= (@sprint.deadline - Date.today).to_i%></h5>  <h5> days left</h5>
  <br><br>

<div class ="sprint">
<a><%= link_to 'Edit', edit_sprint_path(@sprint) %></a>
</div>

<br>

<h3><%= render @sprint.tasks %></h3>

<h4>New Task</h4>

<%= form_for([@sprint.project, @sprint, @sprint.tasks.new]) do |f| %>

<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.label :status %><br>
  <%= f.text_field :status %>
</div>
<div class="field">
  <%= f.label :priority %><br>
  <%= f.text_field :priority %>
</div>
<div class="field">
  <%= f.label :story_points %><br>
  <%= f.text_field :story_points %>
</div>
<div class="field">
  <%= f.label :deadline %><br>
  <%= f.date_select :deadline %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
