
<div>
<h2>Project That you selected</h2>
<table summary="showing this one">
	
	<tr>
		<th>Title</th>
		<td><%= @project.title %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= @project.description %></td>
	</tr>
	<tr>
		<th>Deadline</th>
		<td><%= @project.deadline %></td>
	</tr>
	<tr>
		<th>Created at</th>
		<td><%= @project.created_at %></td>
	</tr>
	<tr>
		<th>Updated at</th>
		<td><%= @project.updated_at %></td>
	</tr>

</table>
</div>
