<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @project.deadline %>
</p>

<div class="row">
  <div class="large-4 columns">
    <ul>
      <% @project.tasks.each do |task| %>
        <li>
          <%= link_to task.title, project_task_path(@project, task), data: task , remote: true  %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="large-4 columns">
    <div class="task-info">
      <div id="task-view" class="text-left" style="display:none;"></div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
