<!--displays the project that you clicked and dislplays its information-->
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @project.deadline %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %>

<div class="row">
  <div class="sprint">
    <ul>
      <% @project.sprints.each do |sprint| %>
        <li>
          <a>
            <%= link_to sprint.number, project_sprint_path(@project, sprint) %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render 'sprints/new' %>
