<!--displays the project that you clicked and dislplays its information-->
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @project.deadline %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %>

<div class="row">
  <% @project.sprints.each do |sprint| %>
      <%= link_to sprint.number, project_sprint_path(@project, sprint) %>
        <% end %>
</div>

<%= render 'sprints/new' %>
