 <!DOCTYPE html>
	<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
	<head>
	<style>
	.page {
	float: right;
	margin: 5px;
	padding: 15px;
	width: 500px;
	height: 200px;
	border: 1px solid white;
	}
	#nav {
	line-height:100px;
	background-color:white;
	height:900px;
	width:600px;
	float:left;
	padding:5px;	      
	}
	#section {
	width:550px;
	float:right;
	padding:10px;	 	 
	}
	</style>
	</head>
    <body>
	<div id="nav">
        <h1><a href="/"><%= image_tag('yard.png', width:'600', height:'900') %> </a></h1>
       </li>
	</div>
	<div id="section">
	<h2>
	<form style="text-align:left;color:blue;margin-left:20px;font-family:verdana;">
		E-mail:<br>
		<input type="text" name="Email">
	<br>
		Password:<br>
		<input type="text" name="Password">
	 <button type="submit">Sign in</button><br>
	</form>
	<p style="text-align:left;color:blue;margin-left:20px;font-family:verdana;"> <a href="">Sign up</a></p>
	<p style="text-align:left;color:blue;margin-left:20px;font-family:verdana;"><a href="">Forgot your password?</a></p>
	
	</div>
	<div class="page">
	<h1 style="color:blue;margin-left:20px;font-family:verdana;text-align:center;"><b>About</b></h1>
		<p title= About>
		This website acts like a scrum master for projects and tasks showing statistics for the progress and sprints
		</p>
	</div>

	<div class="page">
	<h1 style="color:blue;margin-left:20px;font-family:verdana;text-align:center;"> <b>Team</b></h1>
		<p title= Team>
		Ahmed Saleh Abdelwahab,
		Omar Omar,
		Mohamed Ihab,
		Sherif,
		Heba salama,
		Martin Nabil,
		Noha elshourbagy
		</p>
	<div id="footer" style= "color:Blue;text-align:center;padding:70px;font-family:verdana;">
	<b>You can Find our open source contributions on our github</b>
	</div>
		 
        </ul>
</html>



