<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Yard" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>
<<<<<<< HEAD

=======
<<<<<<< HEAD
=======

>>>>>>> 5a82131bac7b64ab6648acfb5274a394c7933855
>>>>>>> 2a4e3ffb73c1609b70fcfec2318d759011c7b955
    <!-- header -->
    <header class="sticky">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li>
            <h1><a href="/">Yard</a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li>
              <%= link_to notifications_path do %>
              <i class="fa fa-bell-o fa-2x"></i>
              <% end %>
            </li>
            <li>
              <%= link_to '#' do %>
              <i class="fa fa-user fa-2x"></i>
              <% end %>
            </li>
            <li>
<<<<<<< HEAD
              <%= link_to '#' do %>
              <i class="fa fa-power-off fa-2x"></i>
=======
<<<<<<< HEAD
              <%= link_to destroy_user_session_path , method: :delete do %>
                <i class="fa fa-power-off fa-2x"></i>
              <% end %>

            </li>
            <li>
              <%= link_to '#' do %>
    
=======
              <%= link_to '#' do %>
              <i class="fa fa-power-off fa-2x"></i>
>>>>>>> 5a82131bac7b64ab6648acfb5274a394c7933855
>>>>>>> 2a4e3ffb73c1609b70fcfec2318d759011c7b955
              <% end %>
            </li>
          </ul>

        </section>
      </nav>
    </header>
    <!-- header end -->

    <!-- main content -->
<<<<<<< HEAD
    <div class="row full-min-height">
      <%= yield %>
=======
<<<<<<< HEAD
    <div class="row">
      <div class="small-10 medium-10 large-12 small-centered large-centered columns" role="content">
        <article>
             <% if notice %>
                <p class="alert alert-success"><%= notice %></p>
                 <% end %>
            <% if alert %>
               <p class="alert alert-danger"><%= alert %></p>
          <% end %>

        <%= yield %>
        </article>
      </div>
=======
    <div class="row full-min-height">
      <%= yield %>
>>>>>>> 5a82131bac7b64ab6648acfb5274a394c7933855
>>>>>>> 2a4e3ffb73c1609b70fcfec2318d759011c7b955
    </div>
    <!-- main content end -->

  </body>
</html>
